{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <script src="{%static 'tmp/jquery.js' %}"></script>
    {%load static%}
    <script src="{%static 'tmp/page.js' %}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {%load static%}
    <link rel="stylesheet" href="{% static 'tmp/page.css'%}">
    <style>
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #368F8B;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333366;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: blue;
}
</style>
    {% block head %} {% endblock %}
    <title>{%block title%} {% endblock %} </title>
</head>

<body>
    <div class="nav">
        <div class="logo"><img src="{% static 'tmp/media/Logo.png'%}" alt="logo here" height="90%"></div>

        <a href="{% url 'page1' %}"><button class="btn">Home</button></a>
        <a href="{% url 'courses' %}"><button class="btn">Courses</button></a>
        <a href="{% url 'page2' %}"><button class="btn">Story</button></a>
        <a href="{% url 'blog' %}"><button class="btn">Blogs</button></a>
        <a href="{% url 'projects' %}"><button class="btn">Projects</button></a>
        <a href="#"><button class="btn">Contact us</button></a>
        {% if user.is_authenticated %}
        <button class="icon"><i class="fas fa-bars"></i></button>
        <a href="{% url 'logout' %}"><button  class="login">LogOut</button></a>
        <a href="{% url 'signup' %}"><button  class="sign">Dashboard</button></a>
        {% else %}
        <a href="{% url 'login' %}"><button  class="login">Log In</button></a>
        <a href="{% url 'signup' %}"><button  class="sign">Sign Up</button></a>
  {% endif %}
        <div class="togle" id="togle">
            <li><a href="#"><button class="btn1">Home</button></a></li>
            <li><a href="#"><button class="btn1">Courses</button></a></li>
            <li><a href="#"><button class="btn1">Story/Blogs</button></a></li>
            <li><a href="#"><button class="btn1">Buy Courses</button></a></li>
            <li><a href="#"><button class="btn1">Contact Us</button></a></li>
        </div>
    </div>

    {% block body %} {%endblock%}
    <div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 100">
            <path fill="#368F8B" fill-opacity="1"
                d="M0,96L60,90.7C120,85,240,75,360,58.7C480,43,600,21,720,21.3C840,21,960,43,1080,48C1200,53,1320,43,1380,37.3L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
                hellozdmbzdb</path>
                <div style="background-color:#368F8B;margin-bottom:-1%"></div>
        </svg></div>
    <div class="lower">
        <div class="lowerleft">
            <ul style="margin-left:4rem" class="llist">
                <li class="lhead"> Courses</li>
                <li>ahsjhskhoih</li>
                <li>ahsjhskhoih</li>
                <li>ahsjhskhoih</li>
                <li>ahsjhskhoih</li>
            </ul>
            <ul style="margin-left:4rem" class="llist">
                <li class="lhead">Mock Tests</li>
                <li>ahsjhskhoih</li>
                <li>ahsjhskhoih</li>
                <li>ahsjhskhoih</li>
                <li>ahsjhskhoih</li>
            </ul>
            <ul style="margin-left:4rem" class="llist">
                <li class="lhead">Services</li>
                <li>Blogs</li>
                <li>Projects</li>
                <li>Story</li>
                <li>Trending</li>

            </ul>
            <ul style="margin-left:4rem" class="llist">
                <li class="lhead">Organization</li>
                <li>ahsjhskhoih</li>
                <li>ahsjhskhoih</li>
                <li>ahsjhskhoih</li>
                <li>ahsjhskhoih</li>
            </ul>
        </div>
        <div style="float:right" class="lowerright">
            <i class="fas fa-check-square fa-5x"></i><br>
            <b>Fully Secured and verified</b>
        </div>
        <div class="llf">
        <div class="lf">
            <form action="#">
                <label for="uid">Subscribe for NewsLetter</label><br>
                <input type="mail" name="uid" id="uid" placeholder="Enter Your Email Id">&nbsp;
                <input type="button" name="uid1" id="uid1" value="Submit" style="background-color:#DDBEA8">

            </form>
        </div>
        <div style="margin-right:6rem" class="lows">
            Follow us on
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </div>
    </div>
    </div>

    </div>


</body>

</html>