{%extends 'tmp/base.html' %}
{% block head%}{%load static%}
    <link rel="stylesheet" href="{% static 'tmp/blog.css' %}">
{%endblock%}
{% block title %} Projects {%endblock%}
{% block body %}

<div class="center" class="containerk" >
    <div class="flex">
        <div class="sameRow1"><div class="boxHead" style="margin-top:2rem;margin-left:0;font-size:24px;width:20rem;"><b>Blogs</b></div><hr width="90%" align="left" style="height:2px;border-width:0;color:gray;background-color:gray">
            <div class="containerk">
                <!-- Give loop for projects-->
                {% for i in data %}
                <a style="text-decoration:none;color: inherit" href="{% url 'blog' %}">
                <div style="background-color:#F8F2ED">
                <div class="flex">
                <div style="width: 30%" class="sameRow1">
                    {%load static%}
                        <img src="{% static 'tmp/media/all.jpg' %}" alt="Motivational picture" width="240rem" height="150rem" >
                </div>
                    <div style="width: 70%" class="sameRow2"><h2 style="margin-left:4%">Heading</h2><p style="margin-left:4%;margin-top:-2%">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, nisi quia recusandae reiciendis rem sint voluptatibus? Culpa dolore eveniet similique!</p></div>
                </div>
                    </a>
                <span style="float:right"> <i>By- {{ i }}</i></span><br>
                    <span style="float:right"> <i>date</i></span>
                <div style="margin-top:1%">
                Share on these platforms
                <i class="fab fa-facebook-f" ></i>
                <i class="fab fa-instagram" ></i>
                <i class="fab fa-twitter" ></i>
                </div>
                <hr width="100%" align="left" style="height:2px;border-width:0;color:gray;background-color:gray">
                </div>

                {% endfor %}
            </div>


             <div class="boxHead" style="margin-top:2rem;margin-left:0"><b>Give Your Ideas</b></div>
            <hr width="80%" align="left" style="height:2px;border-width:0;color:gray;background-color:gray">
            <form action="#">
                <input type="name" name="uid1" id="uidName" placeholder="Enter Your name" style="width:30%"><br><br>
                <input type="email" name="uid2" id="uidEmail" placeholder="Email" style="width:30%"><br><br>
                <textarea rows="4" cols="50" placeholder="Comment here..."></textarea>
  <br><br>
                <input type="button" name="submit" id="sub" placeholder="Submit" value="Submit" style="background-color:#DDBEA8">
            </form>

        </div>

        <div class="sameRow2"><div style="margin-left:4%">
                Follow us on
                <i class="fab fa-facebook-f" ></i>
                <i class="fab fa-instagram" ></i>
                <i class="fab fa-twitter" ></i>
            </div>
            <div class="boxHead"><b>Trending</b></div>
            <hr width="80%" align="left" style="height:2px;border-width:0;color:gray;background-color:gray">
            <div style="margin-left:4%;" class="containerk">
                <!-- use loop here -->
                {% for i in trend %}


                <div style="margin-bottom: 1rem" class="flex">
                    <div style="width: 45%" class="sameRow1">
                        {%load static%}
                        <img src="{% static 'tmp/media/new.jpg' %}" alt="Motivational picture" width="160rem" height="100rem" >
                    </div>
                    <div style="width: 55%" class="sameRow2"><p style="margin-left:4%;">{{ i }}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, quae?</p></div>
                </div>
                {% endfor %}


                <span style="float:right"><a href="#"> View all</a></span>
            </div>
            <div class="boxHead"><b>Blogs</b></div>
            <hr width="80%" align="left" style="height:2px;border-width:0;color:gray;background-color:gray">
            <div style="margin-left:4%;" class="containerk">
                <!-- use loop here -->
                {% for i in trend %}
                <div style="margin-bottom: 1rem" class="flex">
                    <div style="width: 45%" class="sameRow1">
                        {%load static%}
                        <img src="{% static 'tmp/Run__001.png' %}" alt="Motivational picture" width="160rem" height="100rem" >
                    </div>
                    <div style="width: 55%" class="sameRow2"><p style="margin-left:4%;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, quae?</p></div>
                </div>
                {% endfor %}
                <span style="float:right"><a href="#"> View all</a></span>
            </div>

            <div class="boxHead"><b>Stories</b></div>
            <hr width="80%" align="left" style="height:2px;border-width:0;color:gray;background-color:gray">
            <div style="margin-left:4%;" class="containerk">
                <!-- use loop here -->
                {% for i in trend %}
                <div style="margin-bottom: 1rem" class="flex">
                    <div style="width: 45%" class="sameRow1">
                        {%load static%}
                        <img src="{% static 'tmp/Run__001.png' %}" alt="Motivational picture" width="160rem" height="100rem" >
                    </div>
                    <div style="width: 55%" class="sameRow2"><p style="margin-left:4%;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, quae?</p></div>
                </div>
                {% endfor %}
                <span style="float:right"><a href="#"> View all</a></span>
            </div>

        </div>
    </div>
</div>
{%endblock%}