{%extends 'tmp/base.html' %}
{% block head%}
{% load static%}
<link rel="stylesheet" href="{%static 'tmp/forms.css' %}"> 
{%endblock%}
{% block title %} Codution | Login {%endblock%}
{% block body %}
{% for message in messages %}
      <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>{{message}}</strong>
  </div>
      {% endfor %}
 <div class="kingform queen">
    <div class="box_1">
       <p> Log In to your Lennister Account</p>
        <hr>
        <form method="post" >
            {% csrf_token %}
            <input type="email" name="username" id="ee" placeholder="Email">
            <input type="password" name="password" id="pp" placeholder="Password"><br>
            <input type="submit" name="log" id="ll" value="Log In">
        </form>
        <hr>
        <div class="joker">
            don't have account? <a href="{% url 'signup' %}"> Sign Up </a>
        </div>
    </div>
    </div>
    <div class="filler"></div>
{%endblock%}