{%extends 'tmp/base.html' %}
{% block head%} {%endblock%}
{% block title %} home {%endblock%}
{% block body %}
    <!----upper container -->
    <div class="king">
        <div class="upper">
            <div class="detail1">
                <div class="detail2">
                    <span class="cc">Cheapest Courses In The World</span>
                    <br>
                    <span class="hur">HURRY UP !!</span>
                    <br>
                    <a href="#" class="mem"> Full Membership Just Rs 100</a>
                </div>
                <div class="detail3">
                    <h1>Book now</h1>
                    <form action="#">
                        <input type="text" name="" id="" placeholder="email id">
                        <input type="text" name="" id="" placeholder="contact no.">
                        <input type="text" name="" id="" placeholder="DOB"><br>
                        <input type="submit" name="" id="" value="Submit">
                    </form>
                </div>
            </div>
            <div class="list1">
                <li><i class="fas fa-code icon2"></i><br><span class="span">100</span><br><span>Our Customer</span></li>
                <li><i class="fas fa-mug-hot icon2"></i><br><span class="span">1,700</span><br><span>Happy Clients</span>
                </li>
                <li><i class="fas fa-lightbulb icon2"></i><br><span class="span">11,900</span><br><span>Project
                        Complete</span></li>
                <li><i class="fas fa-bug icon2"></i><br><span class="span">157</span><br><span>Coffee With Clients</span>
                </li>
            </div>

        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#368F8B" fill-opacity="0.75"
                d="M0,96L60,90.7C120,85,240,75,360,58.7C480,43,600,21,720,21.3C840,21,960,43,1080,48C1200,53,1320,43,1380,37.3L1440,32L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
            </path>
        </svg>
    </div>
    <div class="middle">
        <div style="margin-top:1rem" class="head1">
            Some Text About Courses
        </div>
        <div class="head2">
            <div class="sub">
                Some Text About Courses Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores reiciendis
                sit saepe error. Facere, dolores. Consectetur, dolorum! Labore a aliquam earum provident, molestias
                repudiandae, quis voluptatum, magni accusamus quam nostrum
            </div>
            <div class="sub">
                Some Text About Courses Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores reiciendis
                sit saepe error. Facere, dolores. Consectetur, dolorum! Labore a aliquam earum provident, molestias
                repudiandae, quis voluptatum, magni accusamus quam nostrum
            </div>
            <div class="sub">
                Some Text About Courses Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores reiciendis
                sit saepe error. Facere, dolores. Consectetur, dolorum! Labore a aliquam earum provident, molestias
                repudiandae, quis voluptatum, magni accusamus quam nostrum
            </div>
        </div>

        <div class="head3">
            <div class="sub1 sub2">
                <span class="MP">
                    {%load static%}
                    <img src="{% static 'tmp/media/Run__001.png' %}" alt="Motivational picture">
                </span>
            </div>
            <div class="sub1 sub3">
                <h1 style="margin-top:50px">Motivational Heading</h1><br><br>
                <p style="margin-top:-20px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
                    necessitatibus nesciunt, eos ipsa
                    od
                    io itaque facilis. Sed ipsam neque culpa expedita, autem, sint voluptatem quia iure nam dolorem
                    omnis molestiae?</p>
                <br><br>
                <p style="margin-bottom:180px">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, saepe
                    qui corporis, architecto
                    quibusdam facere
                    dolorem ullam impedit rerum asperiores earum ut autem, voluptas cumque. Nobis necessitatibus
                    voluptatibus fugit ab!
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptatum sapiente iure
                    consequuntur delectus, eligendi assumenda, cupiditate eos harum, expedita vel at deleniti ipsa
                    dolorem! Quis, similique asperiores. Quasi, accusamus.
                </p>
            </div>
        </div>
        <h1>Feedbacks</h1>
        <div class="head5">
            <button class="scrbtn" id="scrleft"> <i class="fas fa-angle-left"></i></button>
            <div class="dsub5">
                <span class="sub5">feedback 1 <br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea
                    ab quasi illum nam hic libero eveniet
                </span>
            </div>
            <div class="dsub5"><span class="sub5">feedback 2 <br> Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Ea ab quasi illum nam hic libero eveniet
                </span></div>
            <div class="dsub5"><span class="sub5">feedback 3 <br> Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit.
                </span></div>
            <button class="scrbtn" id="scrright"><i class="fas fa-angle-right"></i></button>
        </div>
    </div>

   {%endblock%}