{%extends 'tmp/base.html' %}
{% block head%}{%load static%}
    <link rel="stylesheet" href="{% static 'tmp/blog.css' %}">

{%endblock%}
{% block title %} Blog | {{ post.title }} {%endblock%}
{% block body %}

<div class="center" class="containerk" >
    <div class="flex">
        <div class="sameRow1"><span style="font-size:60px;"> {{ post.title }}<hr width="80%" align="left"></span>
            <div class="upperpara"><p>{{ post.content_upper_para|safe }}</p>
                {%load static%}
                        <img src='/media/{{post.blogImage}}' alt="Motivational picture" width="560rem" height="420rem" class="centerimage" style="margin-top:3rem;margin-bottom:3rem">
                <p>{{ post.content_lower_para|safe }}</p>
            </div>
            <div style="margin-top:3%">
                Share on these platforms
                <i class="fab fa-facebook-f" ></i>
                <i class="fab fa-instagram" ></i>
                <i class="fab fa-twitter" ></i>
                 <span style="float:right">Like</span>
            </div>
            <div class="boxHead" style="margin-top:2rem;margin-left:0"><b>About the Author</b></div>
            <hr width="80%" align="left" style="height:2px;border-width:0;color:gray;background-color:gray">
            <div style="margin-left:0;margin-top:3rem" class="containerk">
                <div class="flex">
                    <div style="width: 30%" class="sameRow1">
                        {%load static%}
                        <img src='/media/{{post.authorImage}}' alt="Motivational picture" width="250rem" height="190rem" >
                    </div>
                    <div style="width: 70%" class="sameRow2"><h2 style="margin-left:4%;">{{post.postedBy}}</h2><p style="margin-left:4%;">{{post.aboutAuthor|safe}}</p></div>
                </div>
            </div>
             <div class="boxHead" style="margin-top:2rem;margin-left:0"><b>Leave a Comment</b></div>
            <hr width="80%" align="left" style="height:2px;border-width:0;color:gray;background-color:gray">
            <form action="#">
                <input type="name" name="uid1" id="uidName" placeholder="Enter Your name" style="width:30%"><br><br>
                <input type="email" name="uid2" id="uidEmail" placeholder="Email" style="width:30%"><br><br>
                <textarea rows="4" cols="50" placeholder="Comment here..."></textarea>
  <br><br>
                <input type="button" name="submit" id="sub" placeholder="Submit" value="Submit" style="background-color:#DDBEA8">
            </form>

        </div>

        <div class="sameRow2"><div style="margin-left:4%">
                Follow us on
                <i class="fab fa-facebook-f" ></i>
                <i class="fab fa-instagram" ></i>
                <i class="fab fa-twitter" ></i>
            </div>
            <div class="boxHead"><b>Trending</b></div>
            <hr width="80%" align="left" style="height:2px;border-width:0;color:gray;background-color:gray">
            <div style="margin-left:4%;" class="containerk">
                <!-- use loop here -->
                {% for post in x|slice:"0:3" %}
                <a style="text-decoration:none;color: inherit" href="{% url 'post' post.id %}">

                <div style="margin-bottom: 1rem" class="flex">
                    <div style="width: 45%" class="sameRow1">
                        {%load static%}
                        <img src='/media/{{post.blogImage}}' alt="Motivational picture" width="160rem" height="100rem">
                    </div>
                    <div style="width: 55%" class="sameRow2"><h6>{{post.title}}</h6><p style="margin-left:2rem;margin-top:-1rem">{{ post.content_upper_para|truncatewords:10|safe }}</p></div>
                </div>
                </a>
                {% endfor %}

                <span style="float:right"><a href="#"> View all</a></span>
            </div>
            <div class="boxHead"><b>Projects</b></div>
            <hr width="80%" align="left" style="height:2px;border-width:0;color:gray;background-color:gray">
            <div style="margin-left:4%;" class="containerk">
                <!-- use loop here -->
                {% for i in projec|slice:"0:3" %}
                <a style="text-decoration:none;color: inherit" href="/projects/?page={{i.id|add:'-1'}}">
                <div style="margin-bottom: 1rem" class="flex">
                    <div style="width: 45%" class="sameRow1">
                        {%load static%}
                        <img src='/media/{{i.projectImage}}' alt="Motivational picture" width="160rem" height="100rem" >
                    </div>
                    <div style="width: 55%" class="sameRow2"><h6>{{i.head}}</h6><p style="margin-left:4%;">{{i.content|truncatewords:7|safe}}</p></div>
                </div>
                    </a>
                {% endfor %}
                <span style="float:right"><a href="#"> View all</a></span>
            </div>

            <div class="boxHead"><b>Stories</b></div>
            <hr width="80%" align="left" style="height:2px;border-width:0;color:gray;background-color:gray">
            <div style="margin-left:4%;" class="containerk">
                <!-- use loop here -->
                <div class="flex">
                    <div style="width: 45%" class="sameRow1">
                        {%load static%}
                        <img src="{% static 'tmp/Run__001.png' %}" alt="Motivational picture" width="160rem" height="100rem" >
                    </div>
                    <div style="width: 55%" class="sameRow2"><p style="margin-left:4%;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, quae?</p></div>
                </div>
                <span style="float:right"><a href="#"> View all</a></span>
            </div>

        </div>
    </div>
</div>

{%endblock%}