{%extends 'tmp/base.html' %}
{% block head%}{%load static%}
    <link rel="stylesheet" href="{% static 'tmp/blog.css' %}">

{%endblock%}
{% block title %} Blog | {{ post.title }} {%endblock%}
{% block body %}

<div class="center" class="containerk" >
    <div class="flex">
        <div class="sameRow1"><span class="titlesize"> {{ post.title }}<hr class="hrcssright"></span>
            <div class="upperpara"><p>{{ post.content_upper_para|safe }}</p>
                {%load static%}
                        <img src='/media/{{post.blogImage}}' alt="Motivational picture" width="560rem" height="420rem" class="centerimage" style="margin-top:3rem;margin-bottom:3rem">
                <p>{{ post.content_lower_para|safe }}</p>
            </div>
            <div class="mt3">
                Share on these platforms
                <i class="fab fa-facebook-f" ></i>
                <i class="fab fa-instagram" ></i>
                <i class="fab fa-twitter" ></i>
                 <span class="floatright">Like</span>
            </div>
            <div class="boxHead author"><b>About the Author</b></div>
            <hr class="hrcssright">
            <div class="author containerk">
                <div class="flex">
                    <div class="width30 sameRow1">
                        {%load static%}
                        <img src='/media/{{post.authorImage}}' alt="Motivational picture" width="250rem" height="190rem" >
                    </div>
                    <div class="width70 sameRow2"><h2 class="m4">{{post.postedBy}}</h2><p class="m4">{{post.aboutAuthor|safe}}</p></div>
                </div>
            </div>
             <div class="boxHead author" ><b>Leave a Comment</b></div>
            <hr class="hrcssright">
            <form action="#">
                <input type="name" name="uid1" id="uidName" placeholder="Enter Your name" class="width30"><br><br>
                <input type="email" name="uid2" id="uidEmail" placeholder="Email" class="width30"><br><br>
                <textarea rows="4" cols="50" placeholder="Comment here..."></textarea>
  <br><br>
                <input type="button" name="submit" id="sub" placeholder="Submit" value="Submit" style="background-color:#DDBEA8">
            </form>

        </div>

        <div class="sameRow2"><div class="m4">
                Follow us on
                <i class="fab fa-facebook-f" ></i>
                <i class="fab fa-instagram" ></i>
                <i class="fab fa-twitter" ></i>
            </div>
            <div class="boxHead"><b>Trending</b></div>
            <hr class="hrcssright">
            <div class="m4 containerk">
                <!-- use loop here -->
                {% for post in x|slice:"0:3" %}
                <a class="acss" href="{% url 'post' post.id %}">

                <div class="mb1 flex">
                    <div class="width45 sameRow1">
                        {%load static%}
                        <img src='/media/{{post.blogImage}}' alt="Motivational picture" width="160rem" height="100rem">
                    </div>
                    <div class="width55 sameRow2"><h6>{{post.title}}</h6><p class="paracut">{{ post.content_upper_para|truncatewords:10|safe }}</p></div>
                </div>
                </a>
                {% endfor %}

                <span class="floatright"><a href="#"> View all</a></span>
            </div>
            <div class="boxHead"><b>Projects</b></div>
            <hr class="hrcssright">
            <div class="m4 containerk">
                <!-- use loop here -->
                {% for i in projec|slice:"0:3" %}
                <a class="acss" href="/projects/?page={{i.id|add:'-1'}}">
                <div class="mb1 flex">
                    <div class="width45 sameRow1">
                        {%load static%}
                        <img src='/media/{{i.projectImage}}' alt="Motivational picture" width="160rem" height="100rem" >
                    </div>
                    <div class="width55 sameRow2"><h6>{{i.head}}</h6><p class="m4" >{{i.content|truncatewords:7|safe}}</p></div>
                </div>
                    </a>
                {% endfor %}
                <span class="floatright"><a href="#"> View all</a></span>
            </div>

            <div class="boxHead"><b>Stories</b></div>
            <hr class="hrcssright">
            <div class="m4 containerk">
                <!-- use loop here -->
                <div class="flex">
                    <div class="width45 sameRow1">
                        {%load static%}
                        <img src="{% static 'tmp/Run__001.png' %}" alt="Motivational picture" width="160rem" height="100rem" >
                    </div>
                    <div class="width55 sameRow2"><p class="m4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, quae?</p></div>
                </div>
                <span class="floatright"><a href="#"> View all</a></span>
            </div>

        </div>
    </div>
</div>

{%endblock%}