{%extends 'tmp/base.html' %}
{% block head%}
{% load static %}
<link rel="stylesheet" href="{% static 'tmp/forms.css' %}">
{% endblock %}
{% block title %} Sign Up {% endblock %}
{% block body %}
 <div class="kingform">
    <div class="box_1">
       <p> Sign UP and Start learning</p>
        <hr>
        <form action="" class="form1">
            <input type="text" name="" id="f" placeholder="Full Name" class="sinput">
            <input type="tel" name="" id="p" placeholder="Phone" class="sinput">
            <input type="email" name="" id="e" placeholder="Email" class="sinput">
            <input type="password" name="" id="ps" placeholder="Password" class="sinput"><br>
            <input type="button" name="" id="sp" value="Sign Up" class="sinputbtn sinput">
        </form>
        <hr>
        <div class="joker">
            Already have account? <a href=""> Log In </a>
        </div>
    </div>
    </div>
    <div class="filler"></div>
{% endblock %}