{%extends 'tmp/base.html' %}
{% block head%}
{% load static%}
<link rel="stylesheet" href="{%static 'tmp/forms.css' %}"> 
{%endblock%}
{% block title %} Sign Up {%endblock%}
{% block body %}
 <div class="kingform">
    <div class="box_1">
       <p> Sign IP and Start learning</p>
        <hr>
        <form action="">
            <input type="text" name="" id="" placeholder="Full Name">
            <input type="tel" name="" id="" placeholder="Phone">
            <input type="email" name="" id="" placeholder="Email">
            <input type="password" name="" id="" placeholder="Password"><br>
            <input type="submit" name="" id="" value="Sign Up">
        </form>
        <hr>
        <div class="joker">
            Already have account? <a href=""> Log In </a>
        </div>
    </div>
    </div>
{%endblock%}