.box{
    margin-top: 4%;
    height: 80px;
    width: 100%;
    background-color: #e2eedd;
}
.box .box1{
    margin-left: 60%;
    border-radius: 20%;
    background-color: antiquewhite;
}

.box21{
    width: 150px;
    height: 100px;
    padding: 2px;
    border: solid rgb(24, 24, 24);
    background-color: white;
    left: 20%;
    margin-top: 10px;
}
.box22{
    width: 200px;
    height: 100px;
    padding: 2px;
    border: solid rgb(24, 24, 24);
    background-color: white;
    margin-top: 20px;
}
.box23{
    width: 200px;
    height: 100px;
    padding: 2px;
    border: solid rgb(24, 24, 24);
    background-color: white;
    margin-top: 20px;
}