svg{z-index: 1}
*{
    font-size: 20px;
    
}


body{
    background-color: white;
    width: 100%;
    margin: 0;
    padding:0;
    display: block;
    background-image: radial-gradient(circle closest-side at bottom, green , white);
}
.king{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}
.logo{
    width: 10%;
    height: auto;
    display: inline-block;
    background-color: white;
}
.logo img{
     width: 100%;
    margin: 0;
}
.nav{
    background-color:  #368F8B;
    list-style: none;
    display: block;
    width: auto;
    height: 2.5rem;
    border-style: none;
    margin: 0;
    padding-bottom: 10px ;
    padding-top: 10px;
}

.togle{
    position:relative;
    display: none;
    background-color:  rgb(246, 192, 112);
    z-index: 1;
}
.btn1{
    border-style:none;
    background-color: rgb(37, 115, 204);
    width:150px;
    margin: 5px;
}
button{
    background-color: rgba(116, 224, 224, 1);
    border-style: none;
    border-right: solid;
    margin:0px 10px;
}
button:hover{
    cursor: pointer;
}
.login , .sign{
    background-color: linen;
    border-radius: 10%;
    float: right;
}
.icon{
    display: none;
}
@media only screen and (max-width: 950px) {
  .btn {
    display: none;
  }
  .icon{
      display: inline;
      background-color: rgb(54, 201, 152);
  }
  svg{
      display: none;
  }
}
.togle:hover{
    display: block;
}
.upper{
    background-color: #368F8B;
    /*background-image:radial-gradient(circle 88vh at 89vh -40vh,  rgba(86, 203, 211, 0.781) 95% , transparent);*/
    display: inline-block;
    opacity:0.75;
    margin: 0;
    width: 100%;
    height: auto;
    animation: upperanimation 5s linear 2s infinite normal both;
}
@keyframes upperanimation{
    0% {background-image:radial-gradient(circle 88vh at 89vh -40vh,  rgba(86, 203, 211, 0.781) 95% , transparent);}
    25% {background-image:radial-gradient(circle 88vh at 100vh -10vh,  rgba(126, 177, 180, 0.781) 95% , transparent);}
    50% {background-image:radial-gradient(circle 88vh at 50vh -30vh,  rgba(65, 161, 190, 0.781) 95% , transparent);}
    75% {background-image:radial-gradient(circle 88vh at 0vh 0vh,  rgba(86, 144, 211, 0.829) 95% , transparent);}
    100% {background-image:radial-gradient(circle 88vh at -40vh -20vh,  rgba(86, 203, 211, 0.781) 95% , transparent);}
}


.detail1{
    display: block;
    position: relative;
}
.detail2{
    position: relative;
    display: inline-block;
    width: 66%;
    left: 0;
}
.detail3{
    position: relative;
    display: inline-block;
    width: 33%;
    right: 0;
    text-align: center;
}
.cc , .hur{
    color :rgba(218, 142, 99, 0.781);


}
.cc{
    font-size:80px;
}
.hur{
    font-size:50px;
}
.mem{

    text-decoration: none;
    background-color:rgba(218, 142, 99, 0.781);
    border-radius: 10px;
} 
.detail3 form input{
    border-style: none;
    margin: 10px;
    border-bottom: solid;
    text-align: center;
}
.detail3 form input[type="submit"]{
    background:linear-gradient(rgba(218, 142, 99, 0.781),rgba(224, 215, 84, 0.781),rgba(157, 214, 92, 0.781));
    animation: btnst 4s linear 1s infinite normal both;
}
@keyframes btnst{
    0% {background:linear-gradient(rgba(218, 142, 99, 0.781),rgba(224, 215, 84, 0.781),rgba(157, 214, 92, 0.781));}
    25% {background:linear-gradient(rgba(20, 126, 112, 0.781),rgba(224, 215, 84, 0.781),rgba(157, 214, 92, 0.781));}
    50% {background:linear-gradient(rgba(20, 126, 112, 0.781),rgba(12, 56, 175, 0.781),rgba(157, 214, 92, 0.781));}
    75% {background:linear-gradient(rgba(20, 126, 112, 0.781),rgba(12, 56, 175, 0.781),rgba(179, 68, 173, 0.781));}
    75% {background:linear-gradient(rgba(13, 238, 31, 0.199),rgba(126, 137, 170, 0.781),rgba(31, 26, 30, 0.781));}
}
.list1{
    list-style: none;
    display: inline-block;
    background-color: #368F8B;
    border-radius: 10px;
    width: 100%;
    margin:0;
}

.list1 li{
    display: inline-block;
    width: 20%;
    margin: 1%;
    background-color: linen;
    padding:1% ;
    text-align: center;
    border-radius: 10%;
}
.icon2{
    margin:auto;
    color: rgba(13, 161, 230, 0.959);
}
.middle{
    display: block;
    width: 100%;
    height: auto;
}
.head1, .sub{
    
    height: auto;
    text-align: center;
}
.head1{
    display: block;
    font-size: 40px;
    width: 50%;
    margin: auto;
    margin-top:-10%;
}
.head2{
    display: block;
    align-content: center;
    padding-left:7%;
    padding-right:7%;
    padding-top:4%;
    background-color: linen;


}
.sub{
    position: relative;
    display:inline-block;
    width: 25%;
    height: auto;
    margin:2%
}
.head3{
    display: block;
    height: auto;
    margin-top: 8%;
    margin-bottom: 4%;
}
.sub1{
    display: inline-block;
    text-align: center;
    

}
.sub2{
    margin-top: -80%;
    width: 45%;
    background-image: radial-gradient(circle 15vh at 16vh 15vh,rgba(118, 73, 223, 0.836)95%,transparent),radial-gradient(circle 27vh at 31vh,rgba(218, 142, 99, 0.781) 95% , transparent );
}
.sub3{
    width: 50%;


}
.MP img{
    border-style: solid;
    border-radius: 10%;
    width:65%;
    height: auto;
    margin-left:2%;
    margin-top:-50%;
}
.MP{
    margin-top:-50%;
    
}

.head4{
    text-align: center;
    margin-top: 5%;

}
.head5{
    background-color: rgba(14, 36, 36, 0.726);
    align-content: center;

}
.dsub5{
    margin: 2% 5%;
    text-align: center;
    display: inline-block;
    border-radius: 10%;
    height: 250px;
    width: 20%;
    background-color: linen;
    overflow: auto;
    position: relative;
}
.fa-angle-left,.fa-angle-right{
    color: white;
}
@media only screen and (max-width: 650px) {
    .cc{
        font-size: 40px;
    }
    .hur{
        font-size: 25px;
    }
    .detail2{
        display: block;
        width: 100%;
    }
    .detail3{
        margin-top: 8%;
        width: 100%;
    }
    .detail3 input{
        width: 60%;
    }
    .list1{
    width: 100%;
    display: block;
    background:white;
}
    .list1 li{
        margin-top:1%;
        margin-left: 10%;
        padding: 0px;
        width: 80%;
    }
    .middle{
        margin-top:14% ;
    }
    .sub{
        display: block;
        width: 80%;
        margin: 5% 10% ;
    }
    .sub1{
        display:block;
        width: 100%;
    }
    .fa-angle-left,.fa-angle-right,.scrbtn{
     display: none; 
    }
    .head5{
        display: block;
        width: 100%;
        height: 20vh;
        overflow: auto;
    }
    .dsub5{
        display: block;
        width: 80%;
        margin: auto;
        margin-top:5px;
    }

}
.lower{
    display: block;
    background-color: #368F8B;
    
}
.lhead{
    list-style: none;
    margin-bottom: 2%;
    font-weight: bold;
}
.llist{
    display: inline-block;
}
.lower a::before{
    text-decoration: none;
    color: black;
}
.llist li{
    list-style: none;
    color: black;
}
.lowerright, .lowerleft{
    display: inline-block;
}

@media only screen and (max-width: 650px){
    .llist,.lowerright,.lowerleft{
        display: block;
    }
    .svgdesg{
        display: none;
    }
    .lower{
        margin-top: 8%;
    }
    .lowerright{
        margin-right: 50%;
        
    }
    
}
.lowerright b{
    font-size: 10px;
}
.lowerright{
    width:20%;
}
.lowerleft{
    width:75%;
}
.llf{
    display: block;
    
}
.lf,.lows{
    display: inline-block;
}
.lows{
    float: right;
}

